{% extends 'loja/loja_base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<style>
    .lista-produtos {
        margin-top: 30px
    }
</style>

<div class="lista-produtos container">
    <!-- Lista de produtos -->
    <div class="row">
        {% for p in produtos %}
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{p.imagem.imagem_produto.url}}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="{% url 'produto_page' p.produto.id %}">{{p.produto.produto_nome}}</a>
                    </h4>
                    <h5>${{p.produto.valor}}</h5>
                    <p class="card-text">{{p.produto.descricao}}</p>
                </div>

            </div>
        </div>
        {% endfor %}
    </div>
    <!-- Fim lista produtos -->
</div>

{% endblock %}