<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1>Olá! Você está logado!</h1>

    <ul>
        <li><a href="{% url 'register_endereco' %}"> cadastrar endereço</a></li>
        <li><a href="{% url 'register_produto_imagem' %}">adicionar imagem</a></li>
    </ul>

    <form action="{% url 'logout_usuario' %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Sair">
    </form>
</body>

</html>